body {
    margin-top: 50px;
    background-image: url(images/michael-phelps.jpg);
    background-size: cover;
}

.maindiv {
    margin: auto;
    width: 900px;
    padding: 20px 30px;
    border: solid 5px red;
    border-radius: 10px;
    background-color: rgb(173, 200, 230, 0.8);
}

.link {
    color: tomato;
}

a:hover {
    color: purple;
}